html
  head
    h1 TuGitWeb
    block scripts
      script(src='/jquery.js')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content
