extends layout

block content
  table.table-striped
    each hex, author, iso8601, iso8601_offset, message in commits
      tr
        td= author.name
        td
          time(datetime=iso8601+iso8601_offset, title=iso8601)= iso8601
        td= message
        td= hex
